Repository Universal-Cube/spring-starter-jda, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, config, code, test, docs, build

.github/labeler.yml:

ci-cd:
  - ".github/**"
  - ".gitignore"

config:
  - "pom.xml"

code:
  - "src/main/**"

test:
  - "src/test/**"

docs:
  - "docs/**"
  - "README.md"

build:
  - "target/**"

`test(JdaStarter): enhance test configuration for active profile and auto-configuration`
  src/test/java/org/universalcube/spring_starter_discord/JdaStarterTests.java
Labels: test

feat(utils): add EmojiUtils for emoji parsing and embed creation
  src/main/java/org/universalcube/spring_starter_discord/discord/utils/BotConstants.java
  src/main/java/org/universalcube/spring_starter_discord/discord/utils/EmojiUtils.java
Labels: code

refactor(pom): use variable for Java source and target version
  pom.xml
Labels: config

`docs(properties): add detailed Javadoc for configuration properties`
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Owners.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Settings.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

`docs(core): Add detailed Javadoc comments for permission and emoji utilities`
  src/main/java/org/universalcube/spring_starter_discord/discord/permissions/JdaPermissionUtils.java
  src/main/java/org/universalcube/spring_starter_discord/discord/utils/EmojiUtils.java
Labels: code

`docs(collections): add class-level Javadoc comments for Triple and Quadruple`
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Quadruple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Triple.java
Labels: code

`docs(pairs): Add comprehensive Javadoc comments for Pair, MutablePair, and ImmutablePair`
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/ImmutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/MutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/Pair.java
Labels: code

`refactor(tuples): simplify ImmutableTuple constructor by replacing varargs with array`
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/ImmutableTuple.java
Labels: code

`docs(core): add comprehensive Javadoc comments for ImmutableTuple and PageableMenu`
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/ImmutableTuple.java
Labels: code

`docs(tuples): enhance Javadoc for Tuple and MutableTuple for better clarity and thread-safety context`
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/MutableTuple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/Tuple.java
Labels: code

docs(tuples): remove redundant generic parameter descriptions
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/ImmutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Quadruple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Triple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/ImmutableTuple.java
Labels: code

`docs(tuples): improve documentation for index bounds in Javadoc`
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/MutableTuple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/Tuple.java
Labels: code

`feat(configuration): add support for ShardManager in JDA configurations`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaEventPublisherAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaModulesAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaSlashCommandAutoConfiguration.java
Labels: code

`fix(workflows): update GPG passphrase environment variable name`
  .github/workflows/maven-release.yml
Labels: ci-cd

refactor(pom): remove lombok dependency and annotation processor config
  pom.xml
Labels: config

refactor(collections): replace Lombok annotations with explicit getter and setter methods
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/MutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/MutableTuple.java
Labels: code

feat(properties): replace Lombok annotations with explicit getters and setters
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
Labels: code

`refactor(activity): replace Lombok @Data with explicit methods and validations`
  src/main/java/org/universalcube/spring_starter_discord/properties/Activity.java
Labels: code

`refactor(owners): replace Lombok with explicit getters, setters, and constructors`
  src/main/java/org/universalcube/spring_starter_discord/properties/Owners.java
Labels: code

`feat(settings): add constructors, getters, setters, and overrides`
  src/main/java/org/universalcube/spring_starter_discord/properties/Settings.java
Labels: code

feat(sharding): replace Lombok with explicit getters, setters, and constructors
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

feat(sharding): add `equals` and `toString` methods
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

feat(properties): add equals and toString methods to JdaConfigurationProperties
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
Labels: code

`refactor(configuration): replace Lombok annotations with manual Logger and getters`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
Labels: code

refactor(logging): Replace Lombok @Slf4j with explicit SLF4J logger
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/SlashCommandBackend.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/BotModule.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/ModulesManagerBackend.java
Labels: code

`refactor(properties): remove unused constructors from configuration classes`
  src/main/java/org/universalcube/spring_starter_discord/properties/Activity.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Owners.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Settings.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

`docs(commands): add JavaDoc comments for command-related classes and interfaces`
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/SlashCommandBackend.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/annotations/SlashCommandComponent.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/data/stored/SlashCommandInfo.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/data/stored/SlashCommandInfoImpl.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/AutoCompletable.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/BotCommand.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/BotCommandExecutor.java
Labels: code

`docs(bot-constants): add class-level JavaDoc for BotConstants utility`
  src/main/java/org/universalcube/spring_starter_discord/discord/utils/BotConstants.java
Labels: code

`docs(pageable-menus): add detailed Javadoc comments for better method clarity`
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableButtonEmbedMenu.java
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableMenu.java
Labels: code

`docs(modules): Add comprehensive Javadoc documentation for bot module system`
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/BotModule.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/ModulesManagerBackend.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/annotations/BotModuleComponent.java
Labels: code

`docs(ButtonRegistry): Add detailed Javadocs for button registration and event handling`
  src/main/java/org/universalcube/spring_starter_discord/discord/listener/ButtonRegistry.java
Labels: code

`docs(configuration): Add comprehensive Javadoc comments to autoconfiguration classes`
  src/main/java/org/universalcube/spring_starter_discord/configuration/ButtonRegistryAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaEventPublisherAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaModulesAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaPermissionUtilsAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaSlashCommandAutoConfiguration.java
Labels: code

`docs(configuration): add detailed Javadoc comments to JdaAutoConfiguration`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
Labels: code

chore(pom): set encoding properties to UTF-8
  pom.xml
Labels: config

chore(pom): set encoding properties to UTF-8
  pom.xml
Labels: config

refactor(discord-config): replace `Object` with `JDA` for clarity and remove unused `createSingleInstance`
  .github/workflows/release-tagger.yml
  pom.xml
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaEventPublisherAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaModulesAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaSlashCommandAutoConfiguration.java
Labels: ci-cd, config, code
