Repository Universal-Cube/spring-starter-jda, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, config, code, test, docs, build

`feat(build): add Maven POM for Spring Boot JDA Starter`
  pom.xml
Labels: config

`fix(workflows): add missing checkout step in labeler workflow`
  .github/workflows/labeler.yml
Labels: ci-cd

`chore(ci): add Release Drafter configuration and workflow`
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci-cd

`chore(pom): add CI management configuration`
  pom.xml
Labels: config

chore(gitignore): update .gitignore to include application.yml
  .gitignore
Labels: ci-cd

`feat(ci): add GitHub Actions workflow for Java CI with Maven`
  .github/workflows/java-ci.yml
Labels: ci-cd

feat(properties): add configuration classes for Discord bot setup
  src/main/java/org/universalcube/spring_starter_discord/properties/Activity.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Owners.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Settings.java
Labels: code

feat(config): add JDA configuration properties class
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
Labels: code

`feat(discord-starter): add JDA auto-configuration and event publishing support`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaEventPublisherAutoConfiguration.java
Labels: code

`feat(utils): add BotConstants for emoji definitions`
  src/main/java/org/universalcube/spring_starter_discord/utils/BotConstants.java
Labels: code

`feat(autoconfigure): add JDA auto-configuration to spring.factories`
  src/main/resources/META-INF/spring.factories
Labels: code

`feat(ci): add release tagging for Maven version updates`
  .github/scripts/pom_version_checker.py
  .github/workflows/release-drafter.yml
  .github/workflows/release-tagger.yml
Labels: ci-cd

fix(ci): correct workflows syntax and improve script formatting
  .github/scripts/pom_version_checker.py
  .github/workflows/java-ci.yml
Labels: ci-cd

feat(ci): add Maven release workflow and reorder Java setup in Java CI
  .github/workflows/java-ci.yml
  .github/workflows/maven-release.yml
Labels: ci-cd

feat(build): add OSSRH publishing configuration to Maven POM
  pom.xml
Labels: config

`feat(commands): add SlashCommandComponent annotation`
  src/main/java/org/universalcube/spring_starter_discord/commands/annotations/SlashCommandComponent.java
Labels: code

`feat(commands): add SlashCommandInfo interface and implementation`
  src/main/java/org/universalcube/spring_starter_discord/commands/data/stored/SlashCommandInfo.java
  src/main/java/org/universalcube/spring_starter_discord/commands/data/stored/SlashCommandInfoImpl.java
Labels: code

`feat(commands): add BotCommandData record for command metadata`
  src/main/java/org/universalcube/spring_starter_discord/commands/data/BotCommandData.java
Labels: code

`feat(commands): add BotCommand and BotCommandExecutor interfaces`
  src/main/java/org/universalcube/spring_starter_discord/commands/interfaces/BotCommand.java
  src/main/java/org/universalcube/spring_starter_discord/commands/interfaces/BotCommandExecutor.java
Labels: code

`feat(commands): add AutoCompletable interface for handling command auto-complete events`
  src/main/java/org/universalcube/spring_starter_discord/commands/interfaces/AutoCompletable.java
Labels: code

`feat(discord): add Slash Command auto-configuration and backend`
  src/main/java/org/universalcube/spring_starter_discord/commands/SlashCommandBackend.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaSlashCommandAutoConfiguration.java
Labels: code

refactor(commands): reorganize package structure for better clarity
  src/main/java/org/universalcube/spring_starter_discord/commands/data/BotCommandData.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaSlashCommandAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/SlashCommandBackend.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/annotations/SlashCommandComponent.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/data/stored/SlashCommandInfo.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/data/stored/SlashCommandInfoImpl.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/AutoCompletable.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/BotCommand.java
  src/main/java/org/universalcube/spring_starter_discord/discord/commands/interfaces/BotCommandExecutor.java
Labels: code

feat(modules): add `BotModule` interface and `BotModuleComponent` annotation
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/BotModule.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/annotations/BotModuleComponent.java
Labels: code

`feat(discord): add auto-configuration and backend for JDA module management`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaModulesAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/ModulesManagerBackend.java
Labels: code

feat(discord): add abstract PageableMenu for paginated content navigation
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableMenu.java
Labels: code

`build(pom): set compiler source and target to Java 21`
  pom.xml
Labels: config

`feat(pageable-menu): add getter for current page`
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableMenu.java
Labels: code

`feat(discord): add ButtonRegistry for managing button interactions`
  src/main/java/org/universalcube/spring_starter_discord/discord/listener/ButtonRegistry.java
Labels: code

`feat(pagination): Add PageableButtonEmbedMenu for button-based interactive embeds`
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableButtonEmbedMenu.java
Labels: code

`feat(pageable-menu): add dynamic button IDs for pagination and improve interaction handling`
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableButtonEmbedMenu.java
Labels: code

`chore(build): add maven-compiler-plugin configuration`
  pom.xml
Labels: config

`chore(pom): bump version to 0.5.0`
  pom.xml
Labels: config

`chore(ci): remove release drafter and disable Maven release workflow`
  .github/release-drafter.yml
  .github/workflows/maven-release.yml.disabled
  .github/workflows/release-drafter.yml
Labels: ci-cd

feat(autoconfiguration): add ButtonRegistry and extend autoconfigurations
  pom.xml
  src/main/java/org/universalcube/spring_starter_discord/configuration/ButtonRegistryAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaEventPublisherAutoConfiguration.java
  src/main/resources/META-INF/spring.factories
Labels: config, code

`refactor(configuration): simplify JdaAutoConfiguration and ensure JDA is ready on startup`
  pom.xml
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
Labels: config, code

feat(configuration): add property-based conditional JDA bean creation
  pom.xml
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
  src/main/resources/META-INF/spring.factories
  src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: config, code

feat(config): introduce sharding configuration class with defaults
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

feat(config): add sharding configuration property
  src/main/java/org/universalcube/spring_starter_discord/properties/JdaConfigurationProperties.java
Labels: code

`refactor(sharding): replace JDA with ShardManager and optimize sharding configuration`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/properties/Sharding.java
Labels: code

feat(jda): add support for single and sharded JDA instances
  pom.xml
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
Labels: config, code

.github/labeler.yml:

ci-cd:
  - ".github/**"
  - ".gitignore"

config:
  - "pom.xml"

code:
  - "src/main/**"

test:
  - "src/test/**"

docs:
  - "docs/**"
  - "README.md"

build:
  - "target/**"
