Repository Universal-Cube/spring-starter-jda, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, config, code, test, docs, build

`feat(config): add conditional bean for JdaConfigurationProperties`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaAutoConfiguration.java
Labels: code

`feat(config): add JdaPermissionUtils auto-configuration support`
  src/main/java/org/universalcube/spring_starter_discord/configuration/JdaPermissionUtilsAutoConfiguration.java
  src/main/java/org/universalcube/spring_starter_discord/discord/permissions/JdaPermissionUtils.java
Labels: code

feat(permissions): add owner and root user validation methods
  src/main/java/org/universalcube/spring_starter_discord/discord/permissions/JdaPermissionUtils.java
Labels: code

`refactor(bot-module): convert to abstract class with enhanced functionality`
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/BotModule.java
Labels: code

feat(annotations): enhance `BotModuleComponent` with additional properties
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/annotations/BotModuleComponent.java
Labels: code

feat(discord): extend BotModule with ListenerAdapter
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/BotModule.java
Labels: code

feat(modules): enhance module management with new utility methods and improved initialization
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/ModulesManagerBackend.java
Labels: code

`feat(modules): add method to retrieve sorted modules by key`
  src/main/java/org/universalcube/spring_starter_discord/discord/modules/ModulesManagerBackend.java
Labels: code

`feat(pairs): add Pair interface for key-value abstraction`
  src/main/java/org/universalcube/spring_starter_discord/sets/pairs/Pair.java
Labels: code

`feat(pairs): add ImmutablePair implementation`
  src/main/java/org/universalcube/spring_starter_discord/sets/pairs/ImmutablePair.java
Labels: code

feat(pairs): add `MutablePair` implementation
  src/main/java/org/universalcube/spring_starter_discord/sets/pairs/MutablePair.java
Labels: code

`feat(tuples): add Tuple interface with utility methods`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/Tuple.java
Labels: code

`feat(tuples): add ImmutableTuple implementation`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/ImmutableTuple.java
Labels: code

`refactor(ImmutableTuple): allow varargs in constructor and add @SafeVarargs annotation`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/ImmutableTuple.java
Labels: code

`feat(tuples): add MutableTuple implementation`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/MutableTuple.java
Labels: code

`feat(tuples): add mutable operations to MutableTuple`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/MutableTuple.java
Labels: code

`feat(tuples): enhance toArray method with null safety and runtime type correctness`
  src/main/java/org/universalcube/spring_starter_discord/sets/tuples/MutableTuple.java
Labels: code

refactor(packages): update package structure from `sets` to `collections`
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/ImmutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/MutablePair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/pairs/Pair.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/ImmutableTuple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/MutableTuple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/tuples/Tuple.java
Labels: code

feat(collections): add Triple and Quadruple record classes
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Quadruple.java
  src/main/java/org/universalcube/spring_starter_discord/collections/specials/Triple.java
Labels: code

refactor(utils): relocate BotConstants to discord package
  src/main/java/org/universalcube/spring_starter_discord/discord/pageable/PageableButtonEmbedMenu.java
  src/main/java/org/universalcube/spring_starter_discord/discord/utils/BotConstants.java
Labels: code

feat(pom): bump version to 0.8.0
  pom.xml
Labels: config

feat(build): Add Maven Wrapper for streamlined project builds
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: none

`chore(release): update version to 0.8.5 and configure Maven release settings`
  .github/workflows/maven-release.yml
  .mvn/settings.xml
  pom.xml
Labels: ci-cd, config

feat(build): switch to loopback GPG configuration for Maven release
  .github/workflows/maven-release.yml
  pom.xml
Labels: ci-cd, config

fix(workflows): remove unused Maven release profile in GitHub Actions
  .github/workflows/maven-release.yml
Labels: ci-cd

fix(workflows): quote GPG passphrase in Maven deploy command
  .github/workflows/maven-release.yml
Labels: ci-cd

`fix(workflows): add missing env variables for Maven release`
  .github/workflows/maven-release.yml
Labels: ci-cd

fix(ci): update secret variables for Sonatype authentication
  .github/workflows/maven-release.yml
Labels: ci-cd

chore(release): bump version to 0.9.0 and update tag pattern in workflow
  .github/workflows/maven-release.yml
  pom.xml
Labels: ci-cd, config

fix(maven): update server ID from 'ossrh' to 'central' in settings.xml
  .mvn/settings.xml
Labels: none

chore(pom): update plugin configuration for central publishing
  pom.xml
Labels: config

`refactor(build): streamline Maven configuration and update publishing setup`
  .github/workflows/maven-release.yml
  .mvn/settings.xml
  pom.xml
Labels: ci-cd, config

`fix(workflows): update Maven release trigger and repository credentials`
  .github/workflows/maven-release.yml
Labels: ci-cd

fix(workflow): update GPG passphrase secret reference
  .github/workflows/maven-release.yml
Labels: ci-cd

`fix(workflow): trigger maven release on tag push`
  .github/workflows/maven-release.yml
Labels: ci-cd

fix(workflows): add clean step to maven-release build
  .github/workflows/maven-release.yml
Labels: ci-cd

`fix(pom): update plugin goals and add deployment execution`
  .github/workflows/maven-release.yml
  pom.xml
Labels: ci-cd, config

`fix(pom): update goal to jar-no-fork and remove redundant deploy execution`
  pom.xml
Labels: config

`feat(build): add Spring Boot test dependency and basic context load test`
  pom.xml
  src/test/java/org/universalcube/spring_starter_discord/JdaStarterTests.java
Labels: config, test

`fix(pom): specify lombok version in annotation processor paths`
  pom.xml
Labels: config

.github/labeler.yml:

ci-cd:
  - ".github/**"
  - ".gitignore"

config:
  - "pom.xml"

code:
  - "src/main/**"

test:
  - "src/test/**"

docs:
  - "docs/**"
  - "README.md"

build:
  - "target/**"
